body{
    font-family: 'open Sans Condensed';
    padding: 20px 60px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(140,196,253,3));
}

a{
    text-decoration:none;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    /* background-color: green */
    box-shadow: 8px 2px 5px red;
    
}

*{
    box-sizing: border-box;
}